.w-full.pr-3
    h1.header.text-6xl Hi, I'm
        br
        span.text-yellow Jakub Rekowski
    p#site-discription.text-2xl.mt-5 I'm a student of the Electronic Science Institute in Wroclaw, Poland, with a major in automatics techniques. I am involved in programming in javascript. I use technologies such as: Svelte, express.js, node.js or discord.js. I'm a supporter of open source code, so I try to share every code I create as much as possible.
    .text-2xl.contact
        a(href="mailto:obfs.international+unoff@gmail.com")
            i.fas.fa-envelope.mr-2
            span obfs.international+unoff@gmail.com
        div
            a(href='https://github.com/jakubrekowski').mr-5
                i.fab.fa-github.mr-2
                span GitHub
            a(href='https://discord.com/users/345956728573132811')
                i.fab.fa-discord.mr-2
                span Discord
