@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 16px;
}

body {
    background: #101214;
    font-family: 'Red Hat Display', sans-serif;
    color: #9A9A9A;
}

.text-yellow {
    color: #F6FA2A !important;
}

.text-darker-gray {
    color: #777777 !important;
}

.contact {
    position: absolute;
    left: 16rem;
    bottom: 6rem;
}

.project {
    transition: all 200ms;
}

.project:hover {
    transform: scale(1.02)
}

.contact a {
    transition: all 200ms;
}

.contact a:hover {
    color: #bfbfbf;
}